.features {
  background-color: #F5FBFD;
  padding: 2rem 0;
}

.features__container {
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.features__header {
  text-align: center;
}