@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

$primary-font: "Roboto", sans-serif;

$dark-grey: #202427;
$grey: #363f49;

$background-blue: #f5fbfd;
$button-blue: #0076bf;
$reki-green: #20c9b0;
